.modal {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.modal-body {
  margin-top: 2rem;
  padding: 2rem;
  width: 400px;
  border-radius: 3px;
  background: #fff;
  height: 500px;
  overflow: auto;
}

.modal-underline {
  width: 170px;
  height: 0.15rem;
  background: #c59d5f;
  margin-right: 150px;
}

.modal-availability {
  margin-top: 23px;
  color: #c59d5f;
}
